<main>
  <h3>Multiple Levels of Motivatation </h3>
  
  <svg id="pyramid" class="pyramid" width="600" height="520">
    <polygon points="0, 520 300, 0 600, 520" fill="white" stroke="black" stroke-width="2"/>
    <text x="274" y="72" font-size="16">Animals</text>
    <line x1="240" x2="360" y1="104" y2="104" stroke="black" stroke-width="2"/>
    <text x="260" y="168" font-size="20">Community</text>
    <line x1="180" x2="420" y1="208" y2="208" stroke="black" stroke-width="2"/>
    <text x="200" y="272" font-size="20">Creativity / Coding / Art</text>
    <line x1="120" x2="480" y1="312" y2="312" stroke="black" stroke-width="2"/>
    <text x="188" y="376" font-size="20">Fun / Hiking / Skiing / Biking</text>
    <line x1="60" x2="540" y1="416" y2="416" stroke="black" stroke-width="2"/>
    <text x="160" y="480" font-size="20">Physiological, Safety, and Belonging</text>
  </svg>
</main>