<main>
  <h3>My Skills and Focus at Pinnacol</h3>
  <div id="breadth">
    <div><p>APIs</p></div>
    <div><p>Databases</p></div>
    <div><p>Application Development</p></div>
    <div><p>General Programming</p></div>
    <div><p>Analytics</p></div>
  </div>
  <div id="depth">
    <div><p>User Interface Development</p></div>
    <div><p>User Experience Design</p></div>
    <div><p>JavaScript (the language of browsers)</p></div>
    <div><p>Angular (a JavaScript framework)</p></div>
  </div>
</main>